<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <!-- Console appender configuration -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="File" fileName="${basePath}/automation.log" filePattern="${basePath}/automation-%d{yyyy-MMM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB" />
            </Policies>


        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="Debug"> <!--Here you can use multiple log levels -->
            <!--AppenderRef ref="Console" /-->
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
